/**
 * Author : Raphaël Kimm
 */
#logo {
	width: 64px !important;
	height: 64px !important;
}

.notification {
	font-size: 1.2em;
}

.actionTitle {
	font-size: xx-large;
}

.actionDescription {
	font-size: large;
}