<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  
  
  <display-name>JEE_2020_2021_KR</display-name>
  
  
  <filter>
    <filter-name>JspFilter</filter-name>
    <filter-class>filter.JspFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JspFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/JSP_pages/notFound.jsp</location>
  </error-page>
  
  
  <servlet>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>servlet.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.account.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/account/register</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.account.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/account/login</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>SignOutServlet</servlet-name>
    <servlet-class>servlet.account.SignOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOutServlet</servlet-name>
    <url-pattern>/account/signout</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>SeeAccountServlet</servlet-name>
    <servlet-class>servlet.account.SeeAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeAccountServlet</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ModifyAccountServlet</servlet-name>
    <servlet-class>servlet.account.ModifyAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyAccountServlet</servlet-name>
    <url-pattern>/account/modifyAccount</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ModifyPasswordServlet</servlet-name>
    <servlet-class>servlet.account.ModifyPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPasswordServlet</servlet-name>
    <url-pattern>/account/modifyPassword</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>servlet.user.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/admin/users</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ModifyUserRankServlet</servlet-name>
    <servlet-class>servlet.account.ModifyUserRankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserRankServlet</servlet-name>
    <url-pattern>/admin/users/modifyUserRank</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>servlet.user.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/admin/users/deleteUser</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ActivitiesServlet</servlet-name>
    <servlet-class>servlet.activity.ActivitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivitiesServlet</servlet-name>
    <url-pattern>/admin/activities</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>DeleteActivityServlet</servlet-name>
    <servlet-class>servlet.activity.DeleteActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteActivityServlet</servlet-name>
    <url-pattern>/admin/activities/deleteActivity</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>PlacesServlet</servlet-name>
    <servlet-class>servlet.place.PlacesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlacesServlet</servlet-name>
    <url-pattern>/admin/places</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>DeletePlaceServlet</servlet-name>
    <servlet-class>servlet.place.DeletePlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlaceServlet</servlet-name>
    <url-pattern>/admin/places/deletePlace</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>FriendsServlet</servlet-name>
    <servlet-class>servlet.friend.FriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendsServlet</servlet-name>
    <url-pattern>/friends</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>AcceptFriendRequestServlet</servlet-name>
    <servlet-class>servlet.friend.AcceptFriendRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptFriendRequestServlet</servlet-name>
    <url-pattern>/friends/acceptFriendRequest</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>RejectFriendRequestServlet</servlet-name>
    <servlet-class>servlet.friend.RejectFriendRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectFriendRequestServlet</servlet-name>
    <url-pattern>/friends/rejectFriendRequest</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>CancelFriendRequestServlet</servlet-name>
    <servlet-class>servlet.friend.CancelFriendRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelFriendRequestServlet</servlet-name>
    <url-pattern>/friends/cancelFriendRequest</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>DeleteFriendServlet</servlet-name>
    <servlet-class>servlet.friend.DeleteFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFriendServlet</servlet-name>
    <url-pattern>/friends/deleteFriend</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>MoreFriendsServlet</servlet-name>
    <servlet-class>servlet.friend.MoreFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoreFriendsServlet</servlet-name>
    <url-pattern>/friends/moreFriends</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>servlet.friend.AddFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/friends/addFriend</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>ContaminationNotificationsServlet</servlet-name>
  	<url-pattern>/notifications/contaminationNotifications</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ContaminationNotificationsServlet</servlet-name>
  	<servlet-class>servlet.notification.ContaminationNotificationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteContaminationNotificationServlet</servlet-name>
  	<url-pattern>/notifications/deleteContaminationNotification</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DeleteContaminationNotificationServlet</servlet-name>
  	<servlet-class>servlet.notification.DeleteContaminationNotificationServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>FriendNotificationsServlet</servlet-name>
  	<url-pattern>/notifications/friendNotifications</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>FriendNotificationsServlet</servlet-name>
  	<servlet-class>servlet.notification.FriendNotificationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteFriendNotificationServlet</servlet-name>
  	<url-pattern>/notifications/deleteFriendNotification</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DeleteFriendNotificationServlet</servlet-name>
  	<servlet-class>servlet.notification.DeleteFriendNotificationServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>PositiveDeclarationServlet</servlet-name>
  	<url-pattern>/declaration</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PositiveDeclarationServlet</servlet-name>
  	<servlet-class>servlet.PositiveDeclarationServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>AddActivityServlet</servlet-name>
  	<url-pattern>/activities/addActivity</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddActivityServlet</servlet-name>
  	<servlet-class>servlet.activity.AddActivityServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>AddPlaceServlet</servlet-name>
  	<url-pattern>/places/addPlace</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddPlaceServlet</servlet-name>
  	<servlet-class>servlet.place.AddPlaceServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>ModifyPlaceServlet</servlet-name>
  	<url-pattern>/admin/places/modifyPlace</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ModifyPlaceServlet</servlet-name>
  	<servlet-class>servlet.place.ModifyPlaceServlet</servlet-class>
  </servlet>
</web-app>