<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  <display-name>JEE_2020_2021_KR</display-name>
  <filter>
    <filter-name>JspFilter</filter-name>
    <filter-class>filter.JspFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JspFilter</filter-name>
    <url-pattern>/</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignOutServlet</servlet-name>
    <servlet-class>servlet.SignOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOutServlet</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SeeAccountServlet</servlet-name>
    <servlet-class>servlet.SeeAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeAccountServlet</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyAccountServlet</servlet-name>
    <servlet-class>servlet.ModifyAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyAccountServlet</servlet-name>
    <url-pattern>/modifyAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyPasswordServlet</servlet-name>
    <servlet-class>servlet.ModifyPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPasswordServlet</servlet-name>
    <url-pattern>/modifyPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>servlet.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyUserRankServlet</servlet-name>
    <servlet-class>servlet.ModifyUserRankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserRankServlet</servlet-name>
    <url-pattern>/modifyUserRank</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivitiesServlet</servlet-name>
    <servlet-class>servlet.ActivitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivitiesServlet</servlet-name>
    <url-pattern>/activities</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteActivityServlet</servlet-name>
    <servlet-class>servlet.DeleteActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteActivityServlet</servlet-name>
    <url-pattern>/deleteActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlacesServlet</servlet-name>
    <servlet-class>servlet.PlacesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlacesServlet</servlet-name>
    <url-pattern>/places</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePlaceServlet</servlet-name>
    <servlet-class>servlet.DeletePlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlaceServlet</servlet-name>
    <url-pattern>/deletePlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendsServlet</servlet-name>
    <servlet-class>servlet.FriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendsServlet</servlet-name>
    <url-pattern>/friends</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AcceptFriendRequestServlet</servlet-name>
    <servlet-class>servlet.AcceptFriendRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptFriendRequestServlet</servlet-name>
    <url-pattern>/acceptFriendRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RejectFriendRequestServlet</servlet-name>
    <servlet-class>servlet.RejectFriendRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectFriendRequestServlet</servlet-name>
    <url-pattern>/rejectFriendRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFriendServlet</servlet-name>
    <servlet-class>servlet.DeleteFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFriendServlet</servlet-name>
    <url-pattern>/deleteFriend</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MoreFriendsServlet</servlet-name>
    <servlet-class>servlet.MoreFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoreFriendsServlet</servlet-name>
    <url-pattern>/moreFriends</url-pattern>
  </servlet-mapping>
</web-app>